<!DOCTYPE html>
<html>

<head>
	<title>Re-former</title>
</head>


<body>
	<!--<br/>
	<form method="post" action="/users" accept-charset="UTF-8" name="user" id="user">
		<label for="user[email]">Email</label>
		<input name="user[email]">
		<br/>
		<label for="user[username]">Username</label>
		<input name="user[username]">
		<br/>
		<label for="user[password]">Password</label>
		<input name="user[password]">
		<br/>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="submit" value="Submit">
	</form>-->

	<%= form_tag("/users", method: "post") do %>
		<%= label_tag(:email, "Email:") %>
		<%= text_field_tag(:email) %>
		<%= label_tag(:username, "Username:") %>
		<%= text_field_tag(:username) %>
		<%= label_tag(:password, "Password:") %>
		<%= text_field_tag(:password) %>
		<%= submit_tag("Submit") %>
	<% end %>

</body>

</html>
